.banner-area{
    height: 100vh;
    .banner-content{
        h1{
            font-size: 80px;
            text-transform: capitalize;
            color: #fff;
            font-weight: 700;
            line-height: 110px;
        }
        h4{
            color: #fff;
            font-size:25px;
            text-transform: capitalize;  
          }
          a{
              margin: 30px 5px 0 5px;
              transition: 0.3s;
          }
    }
}