.cta-area{
    text-align: center;
    color: #fff;
    i{
        color: #fff;
        margin-bottom: 20px;
        font-size: 80px;
    }
    h4{
        text-transform: capitalize;
        line-height: 50px;
        font-size: 40px;
        font-weight: 700;
    }
    p{
        margin: 10px 0 25px;
    }
}