.testimonials-area{
    background-color: #333;
    color: #fff;
    .testimonials{
        .slick-arrow{
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            background-color: transparent;
            border: 0;
            cursor: pointer;
            i{
                color: #fff;
                font-size: 30px;
                background-color: tomato;
                width: 40px;
                height: 40px;
                line-height: 40px;
                border-radius: 50%;
            }
            
        }
        .slick-prev{
            left: -50px;
        }
        .slick-next{
            right: -50px;
        }
    }
    
    .single-testimonials{
        text-align: center;
        img{
            border-radius: 50%;
            margin-bottom: 15px;
            margin: 0 auto;
        }
        h4{
            font-size: 26px;
            text-transform: capitalize;
            margin-top: 20px;
            span{
                font-size: 15px;
                font-style: italic;
                display: block;
                font-weight: 500;
                margin-top: 9px;
            }
        }
    }
}
.slick-dots{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 30px;
    li{
        display: inline-block;
        margin:0 5px;
        button{
            background-color: #ddd;
            border: 0;
            height: 20px;
            width: 20px;
            border-radius: 50%;
        }
    }
}
li.slick-active button{
    background-color: tomato;
    color: #fff;
}