.timeline-area{
    .timeline-list{
        position: relative;
        &:before{
            position: absolute;
            content: "";
            width: 2px;
            height: 100%;
            left: 50%;
            background-color: tomato;
            top: 0;
            transform: translateX(-50%);
        }
        li{
            position: relative;
            clear: both;
            overflow: hidden;
            &:after{
                position: absolute;
                content: "";
                width: 20px;
                height: 20px;
                background-color: tomato;
                border-radius: 50%;
                left: 50%;
                top: 50%;
                transform: translate(-50%,-50%);
            }
            &:nth-child(even){
                .timeline-content{
                    float: right;
                    text-align: left;
                }
            }
            .timeline-content{
                border: 2px solid tomato;
                padding: 20px;
                width: 45%;
                float: left;
                text-align: right;
                span{
                    font-size: 20px;
                    color: tomato;
                    font-weight: 600;
                }
                h4{
                    text-transform: capitalize;
                    font-size: 25px;
                    line-height: 45px;
                    margin-bottom: 5px;
                }
            }
        }

    }
}