.container,.container-fluid{
    width: 100%;
    padding: 0 30px;
    margin: 0 auto;
    .row{
        display: flex;
        flex-wrap: wrap;
        margin: 0 -15px;
    }
}
$grid-columns:12;
$grid-xl-breakpoint:1200px;
@media(min-width:$grid-xl-breakpoint){
    .container{
        width: 1140px;
    }
    @for $i from 1 through $grid-columns{
        .col-xl-#{$i}{
            width:(100/$grid-columns)*$i*1%;
            padding: 0 15px;
        }
    }
}


// .container{
//     width: 1140px;
//     margin: 0 auto;
// }
// .row{
//     display: flex;
//     flex-wrap: wrap;
//     margin: 0 -15px;
// }
// .col-xl-6{
//     width: 50%;
//     padding: 0 15px;
// }
// .col-xl-3{
//     width: 25%;
//     padding: 0 15px;
// }
// .single-service{
//     background-color: tomato;
//     padding: 10px;
// }